.opening_page
{
    /* background: url(../imgs/bio_bg.png);
	background-size: cover; */
	overflow-x: hidden;
    background: black;
}

.intro
{
	color: white;
	font-size: 50px;
	animation: intro_anim 4s ease 0s 1 normal forwards;
}

@media only screen and (max-width: 800px)
{
	.intro
	{
		text-align: center;
	}
}

@keyframes intro_anim {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro_img
{
	font-size: 200px; 
	color: white; 
	text-align: center;
	font-weight: 1000 !important; 
	text-shadow: 15px 15px #CBB26A; 
	font-family: brandon-grotesque, Helvetica, sans-serif, cursive;
	animation: intro_anim_2 4s ease 0s 1 normal forwards;
}

@media only screen and (max-width: 870px)
{
	.intro_img{
		font-size: 140px;
		order: -1;
		text-align: center;
	}
}

@keyframes intro_anim_2 {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro p:last-child
{
	font-size: 25px;
	color: #7b7f92;
}

/* morph text start */

.morph_cont
{
	position: relative;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 !important;
	font-size: 40px !important;
}

@media only screen and (max-width: 1100px)
{
	.morph_cont	
	{
		font-size: 30px !important;
	}
}

.morph_word
{
	position: absolute;
	animation: morph 9s infinite ease-in-out;
	color: #6997BE !important;
	font-weight: 600;
}


.morph_word:nth-child(1)
{
	animation-delay: -9s;
}

.morph_word:nth-child(2)
{
	animation-delay: -6s;
}

.morph_word:nth-child(3)
{
	animation-delay: -3s;
}

@keyframes morph
{
	0%,5%,100%
	{
		opacity: 1;
		transform: scale(1);
	}

	20%, 80%
	{
		opacity: 0;
		transform: scale(0);
	}
}

.ZZlogo{
        height: 200px;
        width: auto;
}

.profilePic{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
}
